.img-career{
    background-image: url('../assets/careerimg.png');
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordering{
   gap: 20px;
   margin-top: 20px;
  border-right:2px solid orangered;
   padding-bottom: 60px;
   padding-right: 20px;
   padding-left: 20px;
   text-align: center;
   font-size: large;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   color: rgb(85, 85, 242);
   height: 10px;
    
}
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-right: 20px;

}
.parag{
  
    font-family: "Gilroy",sans-serif;
    font-variant: normal;
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 2px;
 
}
.apply{
    margin-top: 50px;
    background-color:antiquewhite;
  
   text-align: center;
    justify-content: center;
 margin-left: 80px;
 margin-right: 80px;
  
}
.label{
    display: block;
    margin-bottom: 5px;
    gap: 20px;
    padding: 20px;
    /* border: 2px solid green; */
    text-align: left;
}

