.img-container {
    background-image: url('../assets/student1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: block;
    text-align: center;
    color: #f7f4ef;
    font-weight: bold;
    font-size:70px;
    
    
}
.page1{
    margin-top: 120px;
    margin-bottom: 100px;
    /* border: 2px solid blue; */
    display: flex;
    grid-template-rows: auto;
   
    
   
}
.para{
    /* border: 2px solid green; */
   align-items: center;
    margin-left: 50px;
   font-size: x-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 30px;
    width: 700px;
    padding-left: 10px;
}
.pict{
    /* border: 2px solid palevioletred; */
    width: 40%;
 
}